<section class="author section">
  <div class="wrapper">

    <div class="author__content">
      <h2>Meet Alex Johnsson</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor
        magna.</p>

      <div class="author__stats">
        <ul>
          <li>
            <p class="stats__number">
              39
            </p>
            <p class="stats__text">
              Happy Clients
            </p>
          </li>
          <li>
            <p class="stats__number">
              50
            </p>
            <p class="stats__text">
              Sleek Projects
            </p>
          </li>
          <li>
            <p class="stats__number">
              24
            </p>
            <p class="stats__text">
              App Designs
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ellips el1"></div>
  <div class="ellips el2"></div>
</section>