<section class="design">
  <div class="wrapper">
    <h6>Graphics Design</h6>
    <div class="design__content">
      <div class="design__main">
        <img src="../../img/design-img1.png" alt="" class="design__img-main">
        <img src="../../img/design-img2.svg" alt="" class="design__star">
      </div>
      <ul class="design__list">
        <li>
          <img src="../../img/design-img3.png" alt="">
          <img src="../../img/design-img5.svg" alt="" class="design__star">
        </li>
        <li>
          <img src="../../img/design-img4.png" alt="">
          <img src="../../img/design-img6.svg" alt="" class="design__star">
        </li>
      </ul>
    </div>
  </div>
</section>