<footer class="footer">
  <div class="wrapper">
    <button class="footer__btn">
      <img src="../../img/footer-btn.png" alt="">
      <div class="footer__text">
        <h6>Have a new project?</h6>
        <p>Book a call now
          <img src="../../img/footer-arrow.svg" alt="">
        </p>
      </div>
    </button>

    <ul class="footer__social">
      <li><img src="../../img/twitch.png" alt=""></li>
      <li><img src="../../img/twitter.png" alt=""></li>
      <li><img src="../../img/instagram.png" alt=""></li>
      <li><img src="../../img/linkedin.png" alt=""></li>
    </ul>

    <p>Copyright © 2023 Syeda Urooj</p>
  </div>
</footer>