<header class="header">
  <nav class="header__nav">
    <div class="header__wrapper">
      <img src="../../img/logo.png" alt="" class="header__logo">

      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>

      <ul class="menu__items">
        <li>
          <a href="#" class="li__item">
            <img src="../../img/menu-img.svg" alt="" class="li__img">
            <p>
              Portfolio
            </p>

          </a>
        </li>
        <li>
          <a href="#" class="li__item">
            <img src="../../img/menu-img2.svg" alt="" class="li__img">
            <p>
              Resume
            </p>

          </a>
        </li>
        <li>
          <a href="#" class="li__item">
            <img src="../../img/menu-img3.svg" alt="" class="li__img">
            <p>
              Testimonials
            </p>

          </a>
        </li>
        <li>
          <a href="#" class="li__item">
            <img src="../../img/menu-img4.svg" alt="" class="li__img">
            <p>
              Contact
            </p>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="wrapper">

    <h1 class="header__title">
      Unleash Creativity Through Minimalism.
    </h1>
  </div>
</header>