<section class="service">
  <div class="wrapper">
    <div class="service__content">

      <div class="service__main">
        <img src="../../img/service-img1.png" alt="">
        <h6>Project: Banking Mobile App</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna.</p>
      </div>

      <ul class="service__list">
        <li>
          <img src="../../img/service-img2.png" alt="">
          <h6>Banking Mobile App</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.</p>
        </li>
        <li>
          <img src="../../img/service-img3.png" alt="">
          <h6>Save Planet Mobile app</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.</p>
        </li>
        <li>
          <img src="../../img/service-img4.png" alt="">
          <h6>Banking Mobile App</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.</p>
        </li>
      </ul>

    </div>
  </div>
</section>