$myFont1: 'Manrope', sans-serif;
$myFont2: 'DynaPuff', sans-serif; 

p, h1, h2, h3, h6, ul{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: 0;
}


html, body {
  font-family: $myFont1, sans-serif;
  background-color: #202020;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 0;
}

.wrapper{
  width: 1055px;
  margin: 0 auto;
}

.header__wrapper{
  width: 1055px;
  margin: 0 auto;
  display: flex;
}

.header{
  padding-top: 40px;
  height: 100vh;
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
}


#menu__toggle {
  opacity: 0;
  position: absolute;
  right: 60px;
}

.header__nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: ease 0.3s;

  & ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }


  & a{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FFF;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #FFF;
    font-family: $myFont1;
    font-size: 16px;
    font-weight: 700;
  }
}
.is-pinned {
  background-color: #FFF;
} 

.sticky {
  position: fixed;
  top: 0;
  background: #202020;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.50);
  z-index: 100;
  padding: 18px 0;
  
  & ul{
    justify-content: flex-end;
  }
}

.header__title{
  color: #FFF;
  font-family: $myFont2; 
  font-size: 80px;
  width: 845px;
  font-weight: 700;
  position: absolute;
  bottom: 120px;
}

.author{
  position: relative;
  overflow: hidden;
}

.author__content{
  width: 520px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  & h2{
    color: #FAEB49;
    font-family: $myFont2;
    font-size: 48px;
    font-weight: 700;
  }

  & p{
    color: #FFF;
    font-family: $myFont1;
    font-size: 16px;
    font-weight: 500;
  }
}

.author__stats{
  & ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .stats__number{
    color: #FFF;
    font-family: $myFont2;
    font-size: 48px;
    font-weight: 700;
  }

  .stats__text{
    color: #FFF;
    font-family: $myFont1;
    font-size: 16px;
    font-weight: 700;
  }
}


.ellips{
  width: 268px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #737373;
  position: absolute;
  top: -30px;
  right: 0;
}

.el1{
  transform: rotate(45deg);
}
.el2{
  transform: rotate(-45deg);
}


.service{
  padding: 86px 0;
  background-color: #3C3C3C;
}

.service__content{
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.service__main{
  border-radius: 24px;
  background: #FFFEF2;
  padding: 24px 20px;
  
  & img{
    border-radius: 13px;
  }

  & h6{
    color: #565656;
    font-family: "DynaPuff", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0;
  }

  & p{
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 580px;
  }
}

.service__list{
  display: flex;
  gap: 40px;

  & li{
    border-radius: 24px;
    background-color: #FFFEF2;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  & h6{
    color: #565656;
    font-family: "DynaPuff", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
  }

  & p{
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
  }
}

.design{
  background-color: #202020;
  padding: 82px 0 138px;

  & h6{
    color: #FFF;
    font-family: "DynaPuff", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 38px;
  }
}

.design__content{
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.design__main{
  position: relative;
}

.design__star{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.design__list{
  display: flex;
  gap: 26px;
  
  & li{
    position: relative;
  }
}

.phrase{
  background-image: url(../img/phrase-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2{
    color: #FFF;
    text-align: center;
    font-family: "DynaPuff", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    width: 1060px;
  }
}

.footer{
  background-color: #202020;
  padding: 78px 0 30px;

  & p{
    color: #FFF;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 21px;
  }
}

.footer__btn{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 914px;
  gap: 46px;
  padding: 42px 0;
  background-color: #202020;
  border-radius: 139px;
  border: 1px solid #F2F2F2;
}

.footer__text{
  color: #FFF;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;

  & h6{
    font-family: "DynaPuff", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
  }

  & p{
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFF;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
  }
}

.footer__social{
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-top: 165px;
}


@media screen and (max-width: 1200px) {
  .wrapper{
    width: 704px;
  }

  .header__wrapper{
    width: 704px;
  }

  .header__title{
    width: 521px;
  }

  .header__nav {
    & ul{
      display: flex;
      flex-direction: column;
      transition: ease-in-out 0.25s;
      position: absolute;
      width: 140px;
      top: -300px;
      right: 140px;
      & a{
        color: #374957;

        & img{
          filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%);
        }
      }
    }
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 60px;
    border-radius: 20px;
    border: 2px solid #FFF;
    padding: 15px;


    & span{
    display: block;
    position: absolute;
    height: 3px;
    background-color: #374957;
    transition-duration: 0.25s;
    border-radius: 26px;
    }

    & span:nth-child(odd){
      width: 26px;
    }
    & span:nth-child(even){
      width: 13px;
      right: 15px;
    }
    & span:nth-child(1){
      top: 17px;
    }
    & span:nth-child(2){
      top: 23px;
    }
    & span:nth-child(3){
      bottom: 23px;
    }
    & span:nth-child(4){
      bottom: 17px;
    }
  }
  
  #menu__toggle:checked ~ .menu__btn > span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 27px;
  }

  #menu__toggle:checked ~ .menu__btn > span:nth-child(even) {
    display: none;
  }

  #menu__toggle:checked ~ .menu__btn > span:nth-child(1) {
    top: 26px;
    transform: rotate(-45deg);
  }

  #menu__toggle:checked ~ .menu__items{
    top: 40px;
  }
 
  .ellips{
    right: -135px;
  }

  .service__content{
    gap: 102px;
  }

  .service__main img {
    width: 663px;
    height: 490px;
  }

  .service__list{
    & img{
      width: 291px;
      height: 448px;
    }
  }

  .design__img-main{
      width: 704px;
      height: 414px;
  }
  
  .design__list{
    & img:nth-child(1){
      width: 336px;
      height: 325px;
    }
    & img:nth-child(2){
      width: 50%;
    }
  }

  .phrase{
    & h2{
      width: 704px;
    }
  }

  .footer__btn{
    width: 710px;
    padding: 21px 0;
  }
}




@media screen and (min-width: 320px) and (max-width: 768px) {
  .wrapper{
    width: 326px;
  }

  .header__wrapper{
    width: 326px;
  }

  .header__title{
    font-size: 48px;
    width: 326px;
  }

  .header__nav {
    & ul{
      display: flex;
      flex-direction: column;
      transition: ease-in-out 0.25s;
      position: absolute;
      width: 140px;
      top: -300px;
      right: 140px;
      & a{
        color: #374957;

        & img{
          filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%);
        }
      }
    }
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 60px;
    border-radius: 20px;
    border: 2px solid #FFF;
    padding: 15px;


    & span{
    display: block;
    position: absolute;
    height: 3px;
    background-color: #374957;
    transition-duration: 0.25s;
    border-radius: 26px;
    }

    & span:nth-child(odd){
      width: 26px;
    }
    & span:nth-child(even){
      width: 13px;
      right: 15px;
    }
    & span:nth-child(1){
      top: 17px;
    }
    & span:nth-child(2){
      top: 23px;
    }
    & span:nth-child(3){
      bottom: 23px;
    }
    & span:nth-child(4){
      bottom: 17px;
    }
  }
  
  #menu__toggle:checked ~ .menu__btn > span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 27px;
  }

  #menu__toggle:checked ~ .menu__btn > span:nth-child(even) {
    display: none;
  }

  #menu__toggle:checked ~ .menu__btn > span:nth-child(1) {
    top: 26px;
    transform: rotate(-45deg);
  }

  #menu__toggle:checked ~ .menu__items{
    top: 40px;
  }

  .author__content{
    width: 332px;

    & h2{
      font-size: 36px;
    }
  }
 
  .author__stats{
    .stats__number{
      font-size: 36px;
    }

    & p{
      width: 76px;
    }
  }

  .ellips{
    width: 170px;
    height: 320px;
    top: 90px;
    right: -135px;
    z-index: -1;
  }

  .service__content{
    gap: 63px;
  }

  .service__main{
    padding: 16px;
    & img {
      width: 293px;
      height: 278px;
    }

    & h6{
      font-size: 32px;
    }

    & p{
      font-size: 15px;
      width: 298px;
    }
  } 

  .service__list{
    & img{
      width: 291px;
      height: 363px;
    }
  }

  .design{
    & h6{
      font-size: 36px;
    }

    & img:nth-child(2){
      width: 50%;
    }
  }

  .design__img-main{
    width: 326px;
    height: 315px;
    border-radius: 40px;
  }
  
  .design__list{
    flex-direction: column;

    & img:nth-child(1){
      width: 326px;
      height: 315px;
      border-radius: 40px;
    }
    & img:nth-child(2){
      width: 50%;
    }
  }

  .phrase{
    & h2{
      font-size: 34px;
      width: 343px;
    }
  }

  .footer__btn{
    width: 342px;
    padding: 21px 0;
    align-items: center;
    gap: 20px;

    & img{
      width: 52px;
      height: 51px;
    }
  }

  .footer__text{
    gap: 4px;
    & h6{
      font-size: 20px;
    }

    & p{
      font-size: 15px;
    }

    & img{
      width: 32px;
      height: 16px; 
    }
  }

}